@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

nav {
  background: #2a9134;
  background: -moz-linear-gradient(left, #2a9134 1%, #3fa34d 53%, #2a9134 100%);
}

/* #raise:hover,
#raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
} */
